<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= background_image_url %>);">
  <div class="container">
    <h1><strong>movies lists</strong> !</h1>
    <p>Click on a specific list to see all the movies tha belongs to it</p>
    <%= link_to 'Create a list', '#', class: 'btn btn-flat' %>
  </div>
</div>
